
{% load static %}
{% block content %}
{% include "includes/header.html" %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Change Password </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Wallet</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
          </ol>
          
        </nav>
      
      </div>
      <div>
        {% if messages %}
              {% for message in messages %}
              <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %} role="alert"> {{ message }} </div>
              <br>
              {% endfor %}                            
          {% endif %}
      </div>
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <form method="POST" action="changepassword">
              {% csrf_token %}
            <div class="card-body">
              <h4 class="card-title">Change Your Password</h4>
        
              <div class="form-group">
                <label>Enter Old Password</label>
                <input type="password" name="oldpassword" class="form-control todo-list-input" placeholder="*****" style="color: white;">
              </div>


              <div class="form-group">
                <label>Enter New Password</label>
                <input type="password" name="newpassword" class="form-control todo-list-input" placeholder="*****" style="color: white;">
              </div>

              
              <div class="add-items d-flex">
               
                <input type="submit" class="add btn btn-primary too-list-add-btn" value="Send Request">
              </div>
            </div>
            </form>
          </div>
        </div>
        
      </div>
    </div>
    </div>
    

{% include "includes/footer.html" %}

{% endblock %}